.mobileMenuButton{
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.icon{
    color: #3D5AFE;
}

@media (min-width: 768px){
    .mobileMenuButton{
        display: none;
    }
}