.successPage{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: fit-content;
}

.successPage > *{
    margin-bottom: 2rem;
}

.successPage > button{
    width: 100%;
}